---
import Container from "../ui/Container.astro";
---

<Container class="py-[calc(var(--p-section)*2)] overflow-hidden flex flex-col">
    <div class="w-[50rem] sm:w-full ">
        <img
        src="/images/illistrator-bot.webp"
        alt="Illustration"
        class="mix-blend-difference translate-x-[-11.5rem] sm:translate-x-0"
        loading="lazy"
      />
    </div>
  <div class="flex justify-center -mt-4">
    <img
      src="/images/vive-como-quieras-illustration.svg"
      alt="Vive como quieras"
      class="w-10/12 sm:w-[23.5rem]"
      loading="lazy"
    />
  </div>
</Container>

