<div class="absolute h-full w-full"></div>

<style>
    div{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 28%);
        z-index: 10;
        pointer-events: none;
    }
</style>