---
interface Props {
  es?: boolean;
  en?: boolean;
  image: {
    src?: string;
    alt?: string;
    altEn?: string;
  };
  item: string;
}

const { en, es, image, item} = Astro.props;
---
<div class={`openLightBoxItem ${item} item-service cursor-pointer`}>
  <img src={image.src} alt={es ? image.alt : en ? image.altEn : ''} class="object-cover w-full h-full relative block" loading="lazy"/>
</div>

<style>
  div::before{
    background-image: url(/images/icon-zoom.svg);
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: 1.5rem;
    content: "";
    height: 2.75rem;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    border-radius: 2rem;
    transform: scale(0);
    background-color: var(--color-white-light);
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 2.75rem;
    z-index: 3;
  }

  div:hover::before{
    opacity: 1;
    transform: scale(1);
  }

  .item-service{
    transform: translateY(120px);
    opacity: 0;
  }

</style>

