<label class="flex items-center justify-center h-[var(--h-btn)] w-[var(--h-btn)] bg-white-light/35 dark:bg-white-light/15 border border-black dark:border-white-light rounded-full backdrop-blur-sm">
    <div
      class="sm:w-9 sm:h-10 cursor-pointer flex flex-col items-center justify-center"
    >
      <input class="hidden peer toggleMenu" type="checkbox"/>
      <div
        class="w-4 sm:w-[1.3125rem] h-[2px] bg-black dark:bg-white-light rounded-sm transition-all duration-300 origin-left translate-y-[0.35rem] sm:translate-y-[0.52rem] peer-checked:rotate-[-45deg] peer-checked:translate-x-[0.1rem] sm:peer-checked:translate-x-[0.1875rem] peer-checked:w-[0.8125rem] sm:peer-checked:w-[1.3125rem]"
      ></div>
      <div
        class="w-4 sm:w-[1.3125rem] h-[2px] bg-black dark:bg-white-light rounded-md transition-all duration-300 origin-center peer-checked:hidden hidden sm:block"
      ></div>
      <div
        class="w-4 sm:w-[1.3125rem] h-[2px] bg-black dark:bg-white-light rounded-md transition-all duration-300 origin-left -translate-y-[0.35rem] sm:-translate-y-[0.52rem] peer-checked:rotate-[45deg] peer-checked:translate-x-[0.1rem] sm:peer-checked:translate-x-[0.1875rem] peer-checked:w-[0.8125rem] sm:peer-checked:w-[1.3125rem]"
      ></div>
    </div>
  </label>